<nav class="dagselectie">
    @Html.ActionLink("Wednesday", "Wednesday", "Film")
    @Html.ActionLink("Thursday", "Thursday", "Film")
    @Html.ActionLink("Friday", "Friday", "Film")
    @Html.ActionLink("Saturday", "Saturday", "Film")
    @Html.ActionLink("Sunday", "Sunday", "Film")
</nav>

