<nav class="dagselectie">
    @Html.ActionLink("Woensdag", "Film")
    @Html.ActionLink("Donderdag", "Film")
    @Html.ActionLink("Vrijdag", "Film")
    @Html.ActionLink("Zaterdag", "Film")
    @Html.ActionLink("Zondag", "Film")
</nav>


