<nav class="dagselectie">
    @Html.ActionLink("Wednesday", "Wednesday", "Special")
    @Html.ActionLink("Thursday", "Thursday", "Special")
    @Html.ActionLink("Friday", "Friday", "Special")
    @Html.ActionLink("Saturday", "Saturday", "Special")
    @Html.ActionLink("Sunday", "Sunday", "Special")
</nav>


