<nav class="dagselectie">
    @Html.ActionLink("Woensdag", "Film")
    @Html.ActionLink("Donderdag", "Film")
    @Html.ActionLink("Vrijdag", "Film")
    @Html.ActionLink("Zaterdag", "Film")
    @Html.ActionLink("Zondag", "Film")
    @Html.ActionLink("Wednesday", "Wednesdy", "Special")
    @Html.ActionLink("Thursday", "Thursday", "Special")
    @Html.ActionLink("Friday", "Friday", "Special")
    @Html.ActionLink("Saturday", "Saturday", "Special")
    @Html.ActionLink("Sunday", "Sunday", "Special")
</nav>


