@using ProjectIHFFv2.Models;

@model IEnumerable<RestaurantOverviewPresentationModel>
<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Index", "Home") > @Html.ActionLink("Restaurants Bloemendaal", "Bloemendaal", "Restaurant") </p>
    <h1>Bloemendaal</h1>
    @Html.Partial("~\\views\\shared\\_RestaurantLocationSelection.cshtml");
</header>


<section>
    @foreach (RestaurantOverviewPresentationModel r in Model)
    {


        <section>
            <div class="film_image">
                <img width="180" height="120" src="@r.Event.afbeelding_url" style="margin-right:10px;" />
            </div>
            <div class="film_text">
                <header class="head-item">
                    <h3 class="headergegeven">@r.Event.naam</h3>

                </header>
                <p class="beschrijving">
                    @r.Beschrijving
                </p>
                <div class="item-button">
                    @Html.ActionLink("View Details", "DetailPagina", "Restaurant", new { id = @r.Event.EventId }, new { @class = "btn btn-view btn-info" })
                    
                </div>

               
            </div>
        </section>
    }

</section>