@using ProjectIHFFv2.Models;

@model RestaurantDetailPresentationModel

<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Index" , "Home") > @Html.ActionLink("Restaurants "+Model.Event.Locatie.plaats, Model.Event.Locatie.plaats, "Restaurant") > @Html.ActionLink(Model.Event.naam, "DetailPagina", "Restaurant", new { id = @Model.Event.EventId }, null) </p>
    <h1>@Model.Event.naam</h1>
</header>

<section style="background-color:white;">
    <div>
        <img src="@Model.Event.afbeelding_url" />
    </div>



    <p>@Model.Event.beschrijving</p>

</section>

<article>
    @foreach (Film f in Model.Films)
    {
        <img width="182" height="268" src="@f.Event.afbeelding_url" style="margin-bottom:300px;" />
    }
</article>
