@using ProjectIHFFv2.Models;

@model RestaurantDetailPresentationModel

<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Index", "Home") > @Html.ActionLink("Restaurants " + Model.Event.Locatie.plaats, Model.Event.Locatie.plaats, "Restaurant") > @Html.ActionLink(Model.Event.naam, "DetailPagina", "Restaurant", new { id = @Model.Event.EventId }, null) </p>
    <h1>@Model.Event.naam</h1>
</header>

<section class="detail">

    <section class="detail-left col">
        <div class="detailsummary">
            <div class="detail-image">
                <img src="@Model.Event.afbeelding_url" height="350" width="250" />
            </div>
            <div class="details">
                <p>@Model.Event.beschrijving</p>
                @if (Model.Event.rating != null)
                {  <p>rating: @Model.Event.rating.ToString()</p>}
               
            </div>
        </div>
        <div class="voorstellingen">
            @using (Html.BeginForm("DetailPagina", "Restaurant", FormMethod.Post))
            { <tekst> Lunch/Diner Date:</tekst>
                <select name="eventid">
                    @foreach (Event e in Model.Maaltijden)
                    {  
                        <option value="@e.EventId">

                            @if (e.eind_datumtijd.Hour <= 17)
                            {
                                <p>  Lunch: @e.begin_datumtijd.ToString("dd-MM") @e.begin_datumtijd.DayOfWeek.ToString() @e.begin_datumtijd.ToShortTimeString() - @e.eind_datumtijd.ToShortTimeString() </p>
                            }
                            else
                            {
                                <p> Diner:  @e.begin_datumtijd.ToString("dd-MM") @e.begin_datumtijd.DayOfWeek.ToString() @e.begin_datumtijd.ToShortTimeString() - @e.eind_datumtijd.ToShortTimeString() </p>
                            }
                        </option>
                    }
                </select>
                @Html.Hidden("eventid", @Model.Event.EventId);
                <tekst> Amount: </tekst>
                @Html.TextBox("qty", @Model.AantalPersonen, new { @type = "number" });
                <input type="submit" id="cart" name="submit" class="btn btn-view" value="Add to cart" />
                <input type="submit" id="wishlist" name="submit" class="btn btn-view" value="Add to wishlist" />
                @Html.ValidationMessage("NoAmount");
            }
        </div>

    </section>
    <section class="detail-right col">
        <h3>After dinner movies</h3>
        <section class="cultuuritems">
            @foreach (var f in Model.Films)
            {
                <section class="cultuuritem">
                    <p>
                        <b>@f.naam</b> <br />
                        @f.Event.beschrijving.Substring(0, 50)<text>...</text>
                    </p>
                    <div class="linkshizzle">
                        @Html.ActionLink("View", "ViewDetails", "Film", new { id = @f.Event.EventId }, new { @class = "btn btn-link btn-info" })
                    </div>
                </section>
            }
        </section>
    </section>
</section>
