@using ProjectIHFFv2.Models;
@model FilmDetailPresentationModel
@{
    ViewBag.Title = "ViewDetails";
}

<header>
    <p> Insert breadcrumb </p>
    <h1>@Model.Naam</h1>
</header>
<section class="filmdetail-left">
    <div>
        <img src="@Model.AfbeeldingUrl" />
        <p>@Model.Beschrijving</p>
        <iframe width="560" height="315" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="voorstellingen">
        <h3>Reveal the story..</h3>
        @foreach(var v in Model.filmVoorstellingen)
        {
            <div class="voorstelling-left">
            <p>@v.Event.begin_datumtijd.Value.Date @v.Event.begin_datumtijd.Value.Hour @v.Event.begin_datumtijd.Value.Minute</p>
            </div>
            <div class="voorstelling-midden">
                <p>@v.Event.Locatie.naam @v.Event.Locatie.zaal</p>
                <p>@v.Event.Locatie.straat @v.Event.Locatie.huisnr</p>
                <p>@v.Event.Locatie.plaats</p>
            </div>
            <div class="voorstelling-right">
                @Html.ActionLink("Add to cart", "Add", "Cart", new { id = @v.EventId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Add to wishlist", "Add", "Wish", new { id = @v.EventId }, new { @class = "btn btn-info" })
            </div>            
        }
    </div>

</section>
<section class="filmdetail-right">
   @foreach (var c in Model.CultuurItems)
   {
       <p>@c.naam</p>
       <p>@c.beschrijving</p>
       @Html.ActionLink("View", "ViewDetails", "Cultuur", new { id = @c.id }, new { @class = "btn btn-info" })
   }
</section>

