@using ProjectIHFFv2.Models;
@model FilmDetailPresentationModel
@{
    ViewBag.Title = "ViewDetails";
}

<header>
    <p> Insert breadcrumb </p>
    <h1>@Model.Naam</h1>
</header>
<section class="filmdetail-left">
    <div>
        <img src="@Model.AfbeeldingUrl" />
        <p>@Model.Beschrijving</p>
        <iframe width="560" height="315" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="voorstellingen">
        <h3>Reveal the story..</h3>
        @foreach(var v in Model.filmVoorstellingen)
        {
            <p>@v.Event.begin_datumtijd.Value.Date @v.Event.begin_datumtijd.Value.Hour @v.Event.begin_datumtijd.Value.Minute</p>
            <p>@v.Event.Locatie.naam</p>
            
        }
    </div>

</section>
<section class="filmdetail-right">
   @foreach (var c in Model.CultuurItems)
   {
       <p>@c.naam</p>
       <p>@c.beschrijving</p>
   }
</section>

