@using ProjectIHFFv2.Models;
@model FilmDetailPresentationModel
@{
    ViewBag.Title = "ViewDetails";
}

<header>
    <p class="breadcrumb">@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Woensdag", "Film") > @Html.ActionLink(@Model.Naam, "ViewDetails", "Film", new { id = @Model.EventId }, null) </p>
    <h1>@Model.Naam</h1>
</header>
<section class="detail">
    <section class="detail-left col">
        <div class="detailsummary">
            <div class="detail-image">
                <img src="@Model.AfbeeldingUrl" height="350" width="250" />
            </div>
            <div class="details">
                <p><strong>Summary:</strong> @Model.Beschrijving</p>
                <p><strong>IMDB-rating:</strong> @Model.Rating.ToString()</p>
                <p>Watch the trailer for @Model.Naam</p>
                <iframe id="trailer" width="300" height="200" src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
            </div>
            </div>
            <div class="voorstellingen">
                @foreach (var v in Model.filmVoorstellingen)
                {
                    <div class="voorstelling">
                        <div class="voorstelling-left">
                            <p>@v.Event.begin_datumtijd</p>
                        </div>
                        <div class="voorstelling-midden">
                            <p>@v.Event.begin_datumtijd - @v.Event.eind_datumtijd</p>
                            <p>@v.Event.Locatie.naam @v.Event.Locatie.zaal </p>
                            <p>@v.Event.Locatie.straat @v.Event.Locatie.huisnr @v.Event.Locatie.plaats</p>
                            <p>Ticket: @v.Event.prijs</p>
                        </div>
                        <div class="voorstelling-right">
                            @using (Html.BeginForm("ViewDetails", "Film", FormMethod.Post))
                            {
                                @Html.Hidden("eventid", @v.EventId);
                                @Html.TextBox("qty", @Model.AantalPersonen, new { @type = "number", @min = "1", @style = "width:50px", required = "required" });
                                <input type="submit" id="cart" name="submit" class="btn btn-view" value="Add to cart" />
                                <input type="submit" id="wishlist" name="submit" class="btn btn-view" value="Add to wishlist" />
                                @Html.ValidationSummary();
                            }
                        </div>
                    </div>
                }
            </div>

</section>
    <section class="detail-right col">
        <h3>Discover Haarlem's Culture</h3>
        <section class="cultuuritems">
            @foreach (var c in Model.CultuurItems)
        {
                <section class="cultuuritem">
                    <p>
                        <b>@c.naam</b> <br />
                        @c.beschrijving.Substring(0, 50)
                    </p>
                    <div class="linkshizzle">
                        @Html.ActionLink("View", "ViewDetails", "Culture", new { id = @c.id }, new { @class = "btn btn-link btn-info" })
                    </div>
                </section>
        }
        </section>
    </section>
</section>
