@using ProjectIHFFv2.Models;
@model IEnumerable<FilmOverviewPresentationModel>
@{
    ViewBag.Title = "Zaterdag";
}

<h2>Zaterdag</h2>
<section>
    @foreach (FilmOverviewPresentationModel f in Model)
    {
        <section class="filmOverview">
            <div class="film_image">
                <img width="100" height="120" src="@f.AfbeeldingUrl" />
            </div>
            <div class="film_text">
                <h3 class="headergegeven">@f.Naam</h3>
                <h4 class="headergegeven">@f.BeginDatumTijd @f.EventLocatie</h4>

                <p>
                    @f.Beschrijving
                    @Html.ActionLink("View", "ViewDetails", "Film", new { id = @f.EventId }, null);
                    <input type="button" title="View" value="View more" onclick="location.href='@Url.Action("ViewDetails", "Film", new { id = f.EventId })'" />
                </p>
            </div>
        </section>
    }

</section>

