@using ProjectIHFFv2.Models;
@model CulturePresentationModel
@{
    ViewBag.Title = "Cultuur";
}

<header>
    <p class="breadcrumb">@Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Monument", "monument", "Culture") > @Html.ActionLink(@Model.cultuuritem.naam, "ViewDetails", "Culture", new { id = @Model.cultuuritem.id }, null) </p>
    <h1>@Model.cultuuritem.naam</h1>
</header>
<section class="detail">
    <section class="detail-left col">
        <div class="detailsummary">
            <div class="detail-image">
                <img src="@Model.cultuuritem.afbeelding_url" height="350" width="250" />
            </div>
            <div class="details">
                <br />
                <p><strong>Description: </strong>@Model.cultuuritem.beschrijving</p>
                <br/>
                <p><strong>Location: </strong>@Model.cultuuritem.straatnaam @Model.cultuuritem.huisnr@Model.cultuuritem.toevoeging, @Model.cultuuritem.locatie</p>
                <p><strong>Zipcode: </strong>@Model.cultuuritem.postcode</p>
            </div>
        </div>
    </section> 
    <section class="detail-right col">
        <h3>Discover Haarlem's Culture</h3>
        <section class="cultuuritems">
            @foreach (var c in Model.CultuurItems)
            {
                <section class="cultuuritem">
                    <p>
                        <b>@c.naam</b> <br />
                        @c.beschrijving.Substring(0, 50)
                    </p>
                    <div class="linkshizzle">
                        @Html.ActionLink("View", "ViewDetails", "Culture", new { id = @c.id }, new { @class = "btn btn-link btn-info" })
                    </div>
                </section>
            }
        </section>
    </section>
</section>





