@using ProjectIHFFv2.Models;
@model IEnumerable<SpecialOverviewPresentationModel>
@{
    ViewBag.Title = "Donderdag";
}

<h2>Donderdag</h2>
<section>
    @foreach (SpecialOverviewPresentationModel s in Model)
    {
        <section class="filmOverview">
            <div class="film_image">
                <img width="100" height="120" src="@s.AfbeeldingUrl" />
            </div>
            <div class="film_text">
                <h3 class="headergegeven">@s.Naam</h3>
                <h4 class="headergegeven">@s.BeginDatumTijd @s.EventLocatie</h4>

                <p>
                    @s.Beschrijving
                    @using (Html.BeginForm("someAction", "someController"))
                    {
                        <button type="submit">OK</button>
                    }
                </p>

            </div>
        </section>
    }
</section>
