@using ProjectIHFFv2.Models;
@model IEnumerable<SpecialOverviewPresentationModel>
@{
    ViewBag.Title = "Saturday";
}
<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Home") > Special > @Html.ActionLink("Saturday", "Film") </p>
    <h1>Saturday</h1>
    @Html.Partial("~\\views\\shared\\_SpecialDaySelection.cshtml");
</header>
<section>
    @foreach (SpecialOverviewPresentationModel s in Model)
    {
        <section class="filmOverview">
            <div class="film_image">
                <img width="100" height="120" src="@s.AfbeeldingUrl" />
            </div>
            <div class="film_text">
                <h3 class="headergegeven">@s.Naam</h3>
                <h4 class="headergegeven">@s.BeginDatumTijd @s.EventLocatie</h4>

                <p>
                    @s.Beschrijving
                    @Html.ActionLink("View Details", "ViewDetails", "Special", new { id = @s.EventId }, new { @class = "btn btn-info" })
                </p>

            </div>
        </section>
    }
</section>