@using ProjectIHFFv2.Models;
@model IEnumerable<SpecialOverviewPresentationModel>
@{
    ViewBag.Title = "Thursday";
}
<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Home") > Special > @Html.ActionLink("Thursday", "Film") </p>
    <h1>Thursday</h1>
    @Html.Partial("~\\views\\shared\\_SpecialDaySelection.cshtml");
</header>
<section class="overview">
    @foreach (SpecialOverviewPresentationModel s in Model)
    {
        <section class="itemOverview">
            <div class="film_image">
                <img width="100" height="130" src="@s.AfbeeldingUrl" />
            </div>
            <div class="film_text">
                <header class="head-item">
                    <h3 class="item-naam">@s.Naam</h3>
                    <h4 class="item-tijd">@s.BeginDatumTijd @s.EventLocatie</h4>
                </header>
                <p class="beschrijving">
                    @s.Beschrijving
                </p>
                <div class="item-button">
                    @Html.ActionLink("View Details", "ViewDetails", "Special", new { id = @s.EventId }, new { @class = "btn btn-view btn-info" })
                </div>
            </div>




        </section>
    }
</section>