@using ProjectIHFFv2.Models;
@model List<WishlistItem>
@{int x = 1;}
@{int y = 1;}
@{bool maxBereikt = false;}
@{
    ViewBag.Title = "Index";
}
<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Home") > Culture > @Html.ActionLink("Music", "Index", "Wishlist") </p>
    <h1>Wishlist</h1>
    @Html.ActionLink("Add another event", "Index", "Home", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Add wishlist to cart", "Index", "Cart", null, new { @class = "btn btn-info" })
</header>

<section>


</section>
<div class="tableDivWrapper">
<table class="TabelCss">
    <tr class ="TabelRijCssEven">
        <th> Datum </th><th>11:00</th><th>11:30</th><th>12:00</th><th>12:30</th><th>13:00</th><th>13:30</th><th>14:00</th><th>14:30</th><th>15:00</th><th>15:30</th><th>16:00</th>
        <th>16:30</th><th>17:00</th><th>17:30</th><th>18:00</th><th>18:30</th><th>19:00</th><th>19:30</th><th>20:00</th><th>20:30</th><th>21:00</th><th>21:30</th><th>22:00</th>
        <th>22:30</th><th>23:00</th><th>23:30</th><th>00:00</th>
    </tr>
    <tr class="TabelRijCssOneven">
        <th>Wednesday - 11/01</th>
        @while (!maxBereikt)
            //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
                    <td colspan="@item.colspan" class="wishlistItem">@item.naam <a href="@Url.Action("Delete", "Wishlist", new { id = item.EventId})"> <img class="deleteImageWishlist"height="20" width="20" src="~/Content/Images/delete-icon.png" title="Remove item from wishlist" /> </a> <br /> @item.beginTijd.ToString("dd-MM HH:mm")  tot en met @item.eindTijd.ToString("dd-MM HH:mm") <br />Aantal tickets: @item.aantal</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }
            
            x++;
            if (x == 26)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr>@{y++;} @{maxBereikt = false;}
        <th>Thursday - 12/01</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
    <td colspan="@item.colspan" class="wishlistItem">@item.naam <br /> @item.beginTijd.ToString("dd-MM HH:mm")  tot en met @item.eindTijd.ToString("dd-MM HH:mm") <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr class="TabelRijCssOneven">
        @{y++;} @{maxBereikt = false;}
        <th>Friday - 13/01</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
    <td colspan="@item.colspan" class="wishlistItem">@item.naam <br /> @item.beginTijd.ToString("dd-MM HH:mm")  tot en met @item.eindTijd.ToString("dd-MM HH:mm") <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr>@{y++;} @{maxBereikt = false;}
        <th>Saturday - 14/01</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
    <td colspan="@item.colspan" class="wishlistItem">@item.naam <br /> @item.beginTijd.ToString("dd-MM HH:mm")  tot en met @item.eindTijd.ToString("dd-MM HH:mm") <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr class="TabelRijCssOneven">
        @{y++;} @{maxBereikt = false;}
        <th>Sunday - 15/01</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
    <td colspan="@item.colspan" class="wishlistItem">@item.naam <br /> @item.beginTijd.ToString("dd-MM HH:mm")  tot en met @item.eindTijd.ToString("dd-MM HH:mm") <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
</table>
    </div>

