@using ProjectIHFFv2.Models;
@model List<WishlistItem>
@{int x = 1;}
@{int y = 1;}
@{bool maxBereikt = false;}
@{
    ViewBag.Title = "Index";
}
<header>
    <p class="breadcrumb">@Html.ActionLink("Index", "Home") > Culture > @Html.ActionLink("Music", "Index", "Wishlist") </p>
    <h1>Wishlist</h1>
    @Html.ActionLink("Add another event", "Index", "Home", null, new { @class = "btn btn-info" })
    @Html.ActionLink("Add all to cart", "Index", "Cart", null, new { @class = "btn btn-info" })
</header>

<section>


</section>
<div class="tableDivWrapper">
<table class="TabelCss">
    <tr class ="TabelRijCssEven">
        <th> Datum </th><th>11</th><th>11:30</th><th>12</th><th>12:30</th><th>13</th><th>13:30</th><th>14</th><th>14:30</th><th>15</th><th>15:30</th><th>16</th>
        <th>16:30</th><th>17</th><th>17:30</th><th>18</th><th>18:30</th><th>19</th><th>19:30</th><th>20</th><th>20:30</th><th>21</th><th>21:30</th><th>22</th>
        <th>22:30</th><th>23</th><th>23:30</th><th>00:00</th>
    </tr>
    <tr class="TabelRijCssOneven">
        <th>Wednesday - 11/12</th>
        @while (!maxBereikt)
            //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
                <td colspan="@item.colspan">@item.naam <br /> @item.beginTijd @item.eindTijd <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }
            
            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr>@{y++;} @{maxBereikt = false;}
        <th>Thursday - 12/12</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
                <td colspan="@item.colspan">@item.naam <br /> @item.beginTijd @item.eindTijd <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr class="TabelRijCssOneven">
        @{y++;} @{maxBereikt = false;}
        <th>Friday - 13/12</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
                <td colspan="@item.colspan">@item.naam <br /> @item.beginTijd @item.eindTijd <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr>@{y++;} @{maxBereikt = false;}
        <th>Saturday - 14/12</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
                <td colspan="@item.colspan">@item.naam <br /> @item.beginTijd @item.eindTijd <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
    <tr class="TabelRijCssOneven">
        @{y++;} @{maxBereikt = false;}
        <th>Sunday - 15/12</th>
        @while (!maxBereikt)
        //IK KAN ALLE WHILE DINGEN DIE IK HIER HEB IN EEN FUNCTIE LATEN DOEN!! DOE DIT LATER NOG1!!!!!
        {
            bool algedaan = false;
            foreach (WishlistItem item in Model)
            {
                if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                { @*Aantal personen en locatie er nog bij...*@
                <td colspan="@item.colspan">@item.naam <br /> @item.beginTijd @item.eindTijd <br /> @item.</td>
                    x = x + item.colspan - 1;
                    algedaan = true;
                }
            }
            if (!algedaan)
            {
                <td></td>
            }

            x++;
            if (x == 28)
            {
                maxBereikt = true;
                x = 1;
            }
        }
    </tr>
</table>
    </div>

