@using ProjectIHFFv2.Models;
@model List<WishlistItem>
@{int x = 1;}
@{int y = 1;}
@{bool maxBereikt = false;}
@{bool laatsteDagNogNietBereikt = true;}
@{string welkeCSSClass = "";}
@{
    ViewBag.Title = "Index";
}
<header>
    <p class="breadcrumb">@Html.ActionLink("Home", "Index", "Home")  > @Html.ActionLink("Music", "Index", "Wishlist") </p>
    <h1>Wishlist</h1>
    @Html.ActionLink("Add another event", "Index", "Home", null, new { @class = "btn btn-addOtherEvent" })
    @Html.ActionLink("Add all items to cart", "AddToCart", "Wishlist", null, new { @class = "btn btn-view" })
    @if (TempData["isToevoegenGelukt"] != null)
    {
        if (TempData["isToevoegenGelukt"] == "true")
        {
            <p class="toevoegenGelukt">The item is succesfully added!</p>
        }
        else
        {
            <p class="toevoegenNietGelukt">The item is not added, the time is already in use.</p>
        }
    }
</header>
<table class="TabelCss">
    <tr class ="TabelRijCssEven">
        <th> Datum </th><th>11:00</th><th>11:30</th><th>12:00</th><th>12:30</th><th>13:00</th><th>13:30</th><th>14:00</th><th>14:30</th><th>15:00</th><th>15:30</th><th>16:00</th>
        <th>16:30</th><th>17:00</th><th>17:30</th><th>18:00</th><th>18:30</th><th>19:00</th><th>19:30</th><th>20:00</th><th>20:30</th><th>21:00</th><th>21:30</th><th>22:00</th>
        <th>22:30</th><th>23:00</th><th>23:30</th><th>00:00</th>
    </tr>

    @while (laatsteDagNogNietBereikt)
    {
        if (y % 2 == 0) {
            welkeCSSClass = "TabelRijCssEven";
        } else {
            welkeCSSClass = "TabelRijCssOneven";
        }
        
        <tr class="@welkeCSSClass">
        @switch (y)
        {
            case 1:
                <th>Wednesday - 11/01</th>
                break;
            case 2:
                <th>Thursday - 12/01</th>
                break;
            case 3:
                <th>Friday - 13/01</th>
                break;
            case 4:
                <th>Saturday - 14/01</th>
                break;
            case 5:
                <th>Sunday - 15/01</th>
                laatsteDagNogNietBereikt = false;
                break;   
        }
            @while (!maxBereikt)
            {
                bool algedaan = false;
                foreach (WishlistItem item in Model)
                {
                    if ((item.xCoordinaat == x) && (item.yCoordinaat == y))
                    { @*Aantal personen en locatie er nog bij...*@
                    <td colspan="@item.colspan" class="wishlistItem">@item.naam <a href="@Url.Action("Delete", "Wishlist", new { id = item.EventId})"> <img class="deleteImageWishlist" height="20" width="20" src="~/Content/Images/delete-icon-inverted.png" title="Remove item from wishlist" /> </a> <br /> @item.beginTijd.ToString("dd-MM HH:mm")  till @item.eindTijd.ToString("dd-MM HH:mm") <br />Amount: @item.aantal</td>
                        x = x + item.colspan - 1;
                        algedaan = true;
                    }
                }
                if (!algedaan)
                {
                    <td></td>
                }

                x++;
                if (x == 28)
                {
                    maxBereikt = true;
                    x = 1;
                }
            }
            @{y++; maxBereikt = false;}
        </tr>
    }
</table>

