@using ProjectIHFFv2.Models

@model AfgerondeBestelling
<header style="margin-top:2%; float:initial;">
    <p class="breadcrumb">Step 3/3</p>
    <h1 style="margin-top:5px;">3. Confirmation</h1>
    <nav class="dagselectie">
        @Html.ActionLink("1. Order", "Index", "Cart")
        @Html.ActionLink("2. Payment", "Betaal", "Cart")
        @Html.ActionLink("3. Confirmation", "Afgerond", "Cart", new { @class = "current" })

    </nav>
</header>

@if (Model.Events.Count > 0)
{
 <div class="gegevensInvoer">
     <section class="itemsInLijst">
         <h3 class="header-afrekenproces"> Your reservation is confirmed! </h3>
         <p class="confirmation-p"> Dear @Model.Klant.voornaam,</p>
         <p class="confirmation-p"> Your reservation is confirmed!</p>
         <p class="confirmation-p">Your exclusive pickupcode is <b> @Model.ophaalcode </b></p>

         <p class="confirmation-p">Your order consists of the following items:</p>
         <div class="itemsInL">
             @foreach (ShoppingCartItem i in Model.Events)
             {
                 <p class="itemsInLijstP"> @i.Gebeurtenis.begin_datumtijd.ToString("dd MMMM HH:mm"), @i.Gebeurtenis.naam <b>x @i.AantalPersonen</b></p>
             }
         </div>
     </section>
     <section class="gegevensForm">
         <h3 class="header-afrekenproces"> Further information :</h3>

         <p class="confirmation-p">Would you like to discover Haarlem's culture on a unique way? Take a look at our @Html.ActionLink("Discover Haarlem", "ViewRoute", "Culture")  page. Your starting point could be <b> @Model.Events.First().Gebeurtenis.Locatie.naam in @Model.Events.First().Gebeurtenis.Locatie.plaats. </b> </p>
         <br />
         <p class="confirmation-p"> Something wrong? Send an email to <u>info@CelluloidSilver.nl</u> to cancel or change your reservation.</p>




       
     </section>
 </div>

}


else
{
 <h1 style="margin-top:10px;"> Nothing to see here....</h1>
}