@using ProjectIHFFv2.Models

@model CheckoutModel
<header style="margin-top:2%; float:initial;">
    <p class="breadcrumb">Step 2/3</p>
    <h1 style="margin-top:5px;">2. Payment</h1>
    @Html.Partial("~\\views\\shared\\_WinkelmandStap.cshtml")
</header>


<h2 style="margin-left:7%;"> Items:</h2>
@foreach(ShoppingCartItem i in Model.Reserveringen.Items)
{

    <p style="margin-left:7%;"> @i.Gebeurtenis.begin_datumtijd.ToString("dd-MM HH:mm"), @i.Gebeurtenis.naam <b>x @i.AantalPersonen</b> </p>
}

<h3 style="margin-left:7%;"> Total: @Model.Reserveringen.TotaalPrijs.ToString("C2")</h3>

<section style="margin-bottom:300px;">
    
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <fieldset id="checkout">
            @Html.LabelFor(m => m.VoorNaam)
            @Html.TextBoxFor(m => m.VoorNaam)
           

            <br />

            @Html.LabelFor(m => m.AchterNaam)
            @Html.TextBoxFor(m => m.AchterNaam)

            <br />

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)

            <br />

            @Html.LabelFor(m => m.BevestigEmail)
            @Html.TextBoxFor(m => m.BevestigEmail)

            <br />

            @Html.LabelFor(m => m.TelefoonNummer)
            @Html.TextBoxFor(m => m.TelefoonNummer)

            @for (int i = 0; i < Model.Reserveringen.Items.Count; i++)
            {
                @Html.HiddenFor(m => m.Reserveringen.Items[i].AantalPersonen)
                @Html.HiddenFor(m => m.Reserveringen.Items[i].Gebeurtenis.EventId)
                @Html.HiddenFor(m => m.Reserveringen.Items[i].Prijs)

            }

            <br />

            <input type="submit" value="Confirm" class="btn btn-view" />
        </fieldset>
    }
</section>
