@using ProjectIHFFv2.Models

@model CartPresentationModel

@if (Model.Items.Count != 0)
{<header style="margin-top:2%; float:initial;" >
    <p class="breadcrumb">@Html.ActionLink("Index", "Index", "Home")  > @if (Model.Items.Last().Gebeurtenis.type == 0) { @Html.ActionLink("Films > ", "Wednesday", "Film")  @Html.ActionLink(Model.Items.Last().Gebeurtenis.naam + " > ", Model.Items.Last().Gebeurtenis.begin_datumtijd.DayOfWeek.ToString(), "Film")} else if (Model.Items.Last().Gebeurtenis.type == 2) { @Html.ActionLink("Restaurants > ", "Haarlem", "Restaurant")   @Html.ActionLink(Model.Items.Last().Gebeurtenis.naam + " > ", Model.Items.Last().Gebeurtenis.Locatie.plaats, "Restaurant") } else {@Html.ActionLink("Specials > ", "Wednesday", "Special")  @Html.ActionLink(Model.Items.Last().Gebeurtenis.naam + " > ", "Wednesday", "Special") }

    <h1>1. Order</h1>
        <nav class="dagselectie">
            @Html.ActionLink("1. Order", "Index", "Cart", new { @class = "current" })
            @Html.ActionLink("2. Payment", "Betaal", "Cart")
            @Html.ActionLink("3. Confirmation", "Afgerond", "Cart")

        </nav>
    <div class="shoppingcartButtons">
        @Html.ActionLink("Add another event", "Index", "Home", null, new { @class = "btn btn-addOtherEvent" })

        @if (Model.Items.Count != 0)
        {@Html.ActionLink("Proceed to checkout", "Betaal", "Index", new { @class = "btn btn-cart" })}
    </div>
</header>
}

else
{<h1 style="margin-top:4%; margin-bottom:70%;"> Your (for now) empty Shoppingcart</h1>
}
<div class="winkelmanditems">
@foreach (ShoppingCartItem i in Model.Items)
{
    <article class="winkelmandje">
        <a href="@Url.Action("Delete", "Cart", new { id = i.Gebeurtenis.EventId})"> <img class="deleteImageWishlist" height="20" width="20" src="~/Content/Images/delete-icon.png" title="Remove item from cart" /> </a>
        <h4 class="cartitem-header">@i.Gebeurtenis.naam</h4>
      <img width="182" height="268" src="@i.Gebeurtenis.afbeelding_url" id="winkelmandjeimg"/>

    <!-- Hier moet de ul weer komen als het niet lukt-->
        <div style="margin-left:4px;">
            @using (Html.BeginForm("Index", "Cart", FormMethod.Post, new { id = "editform" }))
            {
                @Html.LabelFor(m => i.AantalPersonen)
                @Html.DisplayFor(m => i.AantalPersonen, new { @type = "number", @min = "1", @style = "width:40px" })
                <br />
                @Html.LabelFor(m => i.Prijs)
                @Html.DisplayFor(m => i.Prijs) if (i.Gebeurtenis.type == 0 || i.Gebeurtenis.type == 3)
                { <text> pp </text> }

            }
            <p><b>Date:</b> @i.Gebeurtenis.begin_datumtijd.DayOfWeek @i.Gebeurtenis.begin_datumtijd.ToString("dd-MM HH:mm")</p>

            <p>@i.Gebeurtenis.Locatie.straat @i.Gebeurtenis.Locatie.huisnr @i.Gebeurtenis.Locatie.toevoeging</p>
        </div>
    </article>
}    <br />
</div>








