@using ProjectIHFFv2.Models

@model CartPresentationModel

@if (Model.Items.Count != 0)
{<header style="margin-top:2%; float:initial;" >
    <p class="breadcrumb">@Html.ActionLink("Index", "Index", "Home")  > @if (Model.Items.Last().Gebeurtenis.type == 0) { @Html.ActionLink("Films > ", "Wednesday", "Film")  @Html.ActionLink(Model.Items.Last().Gebeurtenis.naam + " > ", Model.Items.Last().Gebeurtenis.begin_datumtijd.DayOfWeek.ToString(), "Film")} else if (Model.Items.Last().Gebeurtenis.type == 2) { @Html.ActionLink("Restaurants > ", "Haarlem", "Restaurant")   @Html.ActionLink(Model.Items.Last().Gebeurtenis.naam + " > ", Model.Items.Last().Gebeurtenis.Locatie.plaats, "Restaurant") } else {@Html.ActionLink("Specials > ", "Wednesday", "Special")  @Html.ActionLink(Model.Items.Last().Gebeurtenis.naam + " > ", "Wednesday", "Special") }

    <h1>Shoppingcart</h1>
    @Html.Partial("~\\views\\shared\\_WinkelmandStap.cshtml")
</header>
}

else
{<h1 style="margin-top:4%;"> Your (for now) empty Shoppingcart</h1>
}
@foreach (ShoppingCartItem i in Model.Items)
{
    <article class="winkelmandje">
        <a href="@Url.Action("Delete", "Cart", new { id = i.Gebeurtenis.EventId})"> <img height="40" width="40" src="~/Content/Images/delete-icon.png" title="Remove item from cart" /> </a>
        <h4>@i.Gebeurtenis.naam</h4>
      <img width="182" height="268" src="@i.Gebeurtenis.afbeelding_url" id="winkelmandjeimg"/>

    <!-- Hier moet de ul weer komen als het niet lukt-->
    
        @using (Html.BeginForm())
        {
           @Html.LabelFor( m => i.AantalPersonen)
            @Html.TextBoxFor( m => i.AantalPersonen, new { @type = "number", @min = "1", @style = "width:40px" })
            <br />
            @Html.LabelFor(m => i.Prijs)
            @Html.DisplayFor( m => i.Prijs) if(i.Gebeurtenis.type == 0 || i.Gebeurtenis.type == 3) { <text> per person</text> }

        }
        <p><b>Date:</b> @i.Gebeurtenis.begin_datumtijd.DayOfWeek @i.Gebeurtenis.begin_datumtijd.ToString("dd-MM HH:mm")</p>
      
        <p>@i.Gebeurtenis.Locatie.straat @i.Gebeurtenis.Locatie.huisnr @i.Gebeurtenis.Locatie.toevoeging @i.Gebeurtenis.Locatie.plaats</p>

    </article>
}    



<div>
   
    
    @Html.ActionLink("Proceed to checkout", "Betaal", "Cart", new { @class = "btn btn-view" })

     

    
</div>





